<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WEDDING_BELLSConnectionString" connectionString="Data Source=DESKTOP-3I27SSM;Initial Catalog=WEDDING_BELLS;User ID=sa;Password=New@1234"
      providerName="System.Data.SqlClient" />
    <add name="WEDDING_BELLSConnectionString1" connectionString="Data Source=LAPTOP-HF21R4KB;Initial Catalog=WEDDING_BELLS;User ID=sa;Password=New@1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>